@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2>Time to Test Your Knowledge!</h2>
    <br />
    <h3>Take a quiz on any topic of interest to see how much you know about it.</h3>
    <hr />
    <a class="btn btn-primary" asp-controller="Quiz" asp-action="Index">Start Quiz</a>
</div>
